{% extends 'base.html' %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
            <a href="{{ instance.get_absolute_url_edit }}" class="btn btn-default"
               role="button">Edit</a>
            <h1>{{ title }}
                {% if instance.draft %}
                    <span style="color:red;">Draft</span>
                {% endif %}
                <small>{{ instance.updated_time }} ({{ instance.updated_time | timesince }} ago)</small>
            </h1>

            {% if instance.author.get_full_name %}
                <p>Author: {{ instance.author.get_full_name }}</p>
            {% elif instance.author %}
                <p>Author: {{ instance.author }}</p>
            {% endif %}

            {{ instance.description | linebreaks }}<br/>
            <br/>
        </div>
    </div>

    <div class="col-md-12">
        <hr/>
        {% for photos in photos_group %}
            <div class="row">
                {% for photo in photos %}
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            {% if photo.image %}
                                <a href="{% url 'album:photo_detail' photo.id %}"><img src='{{ photo.image.url }}' class="img-responsive" alt="{{ photo.image_name }}"/></a>
                            {% endif %}
                            <div class="caption">
                                <h4><a href='{% url 'album:photo_detail' photo.id %}'>{{ photo.image_name }}</a></h4>
                                {% if photo.description %}
                                    <hr/>
                                    <p>{{ photo.description | linebreaks | truncatechars:60 }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <hr>

        <div class="pagination">
            <span class="step-links">
                {% if photos.has_previous %}
                    <a href="?{{ page_request_var }}={{ photos.previous_page_number }}
                    {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ photos.number }} of {{ photos.paginator.num_pages }}.
                </span>

                {% if photos.has_next %}
                    <a href="?{{ page_request_var }}={{ photos.next_page_number }}
                    {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
                {% endif %}
            </span>
        </div>

    </div>

{% endblock %}