{% extends 'base.html' %}

{% block head_title %}
    {{ album.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
            <h1>{{ title }}
                {% if album.draft %}
                    <small><span style="color:red;">Draft</span></small>
                {% endif %}
                <a href="{{ album.get_absolute_url_preview }}" class="btn btn-primary"
                   role="button">Preview Mode</a>
                <a href="{{ album.get_absolute_url_edit }}" class="btn btn-default"
                   role="button">Edit</a>
            </h1>

            {% if album.get_author_full_name_or_username %}
                <h4>Author: {{ album.get_author_full_name_or_username }}</h4>
            {% endif %}
                <p>Created: {{ album.created_time }} ({{ album.created_time | timesince }} ago)</p>
                <p>Updated {{ album.updated_time }} ({{ album.updated_time | timesince }} ago)</p>
        {% if album.description %}
            <br>
            {{ album.description | linebreaks }}
        {% endif %}

        </div>
    </div>

    <div class="col-md-12">
        <hr/>
        {% for photos in photos_group %}
            <div class="row">
                {% for photo in photos %}
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            {% if photo.image %}
                                <a href="{% url 'album:photo_detail' photo.id %}"><img src='{{ photo.image.url }}' class="img-responsive" alt="{{ photo.image_name }}"/></a>
                            {% endif %}
                            <div class="caption">

                                <p style="text-align:left;">
                                    <h4><a href='{% url 'album:photo_detail' photo.id %}'>{{ photo.image_name }}</a>
                                        <span style="float:right;">
                                            {% if user_can_edit %}
                                            <form action="{{ album.get_absolute_url }}set_cover_photo/{{ photo.id }}/"
                                                  method="post">{% csrf_token %}
                                                {{ form.as_p }}
                                                <input type="hidden" name="cover_photo_url"
                                                       value="{{ photo.image.url }}">
                                                <input class="btn btn-default" type="submit" value="Set as cover photo">
                                            </form>

                                            {% endif %}
                                        </span>
                                    </h4>

                                </p>

                                {% if photo.description %}
                                    <hr/>
                                    <p>{{ photo.description | truncatechars:60 }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <hr>

        <div class="pagination">
            <span class="step-links">
                {% if photos.has_previous %}
                    <a href="?{{ page_request_var }}={{ photos.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ photos.number }} of {{ photos.paginator.num_pages }}.
                </span>

                {% if photos.has_next %}
                    <a href="?{{ page_request_var }}={{ photos.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

    </div>

{% endblock %}