{% extends 'base.html' %}

{% load i18n %}

{% load transposition_tags %}

{% load calculation_tags %}

{% load name_tags %}

{% block head_title %}
    {{ album.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
            <h1>{{ album.title }}
                {% if album.draft %}
                    <small><span style="color:red;">Draft</span></small>
                {% endif %}
                <a href="{{ album.get_absolute_url_single }}?{{ page_request_var }}={{ photos.number | subtract:1 | multiply:9| add:1 }}"
                   class="btn btn-primary"
                   role="button">{% trans 'Single Mode' %}</a>
                {% if user.is_staff %}
                    <a href="{{ album.get_absolute_url_edit }}" class="btn btn-default"
                       role="button">{% trans 'Edit Album' %}</a>
                    {# http://stackoverflow.com/questions/5834983/javascript-confirm-cancel-button-not-stopping-javascript #}
                    <a href="{{ album.get_absolute_url_delete }}" class="btn btn-danger"
                       role="button" onclick="if (confirm('Are you sure to delete this album?')) commentDelete(1); return false">{% trans 'Delete Album' %}</a>
                {% endif %}
            </h1>

            {% if album.author %}
                <h4>{% trans 'Author' %}: {{ album.author | full_name_or_username }}</h4>
            {% endif %}
            <p>{% trans 'Created' %}: {{ album.created_time }} ({{ album.created_time | timesince }} ago)</p>
            <p>{% trans 'Updated' %}: {{ album.updated_time }} ({{ album.updated_time | timesince }} ago)</p>
            {% if album.description %}
                <br>
                {{ album.description | linebreaks }}
            {% endif %}

        </div>
    </div>

    <div class="col-md-12">
        {% for photo in photos %}
            {% if forloop.counter0 == 2 or forloop.counter0 == 5 or forloop.counter0 == 8 %}
                <div class="row">
            {% endif %}

            <div class="col-sm-4">
                <div class="thumbnail">
                    {% if photo.image %}
                        <a href="{{ album.get_absolute_url_single }}?{{ page_request_var }}={{ photos.number | display_to_preview:forloop.counter0}}">
                            <img src='{{ photo.image.url }}' class="img-responsive" alt="{{ photo.image_name }}"/></a>
                    {% endif %}
                    <div class="caption">

                        <p style="text-align:left;">
                        <h4><a href="{{ album.get_absolute_url_single }}?{{ page_request_var }}={{ photos.number | display_to_preview:forloop.counter0}}">{{ photo.image_name }} </a>
                            <span style="float:right;">
                                {% if user.is_staff %}
                                    <form action="{{ album.get_absolute_url }}set_cover_photo/{{ photo.id }}/"
                                          method="post">{% csrf_token %}
                                    {{ form.as_p }}
                                    <input type="hidden" name="cover_photo"
                                           value="{{ photo.image.url }}">
                                    <input class="btn btn-default" type="submit"
                                           value="{% trans 'Set Cover' %}">
                                    </form>
                                {% endif %}
                            </span>
                        </h4>

                        </p>

                        {% if photo.description %}
                            <hr/>
                            <p>{{ photo.description | truncatechars:60 }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if forloop.counter0 == 2 or forloop.counter0 == 5 or forloop.counter0 == 8 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="col-md-12 text-center">
        <div class="pagination">
            <span class="step-links">
                {% if photos.has_previous %}
                    <a href="?{{ page_request_var }}={{ photos.previous_page_number }}"
                       class="btn btn-primary"
                       role="button">&lt&lt {% trans 'Prev' %}</a>
                {% endif %}

                <span class="current">
                    {{ photos.number }} / {{ photos.paginator.num_pages }}
                </span>

                {% if photos.has_next %}
                    <a href="?{{ page_request_var }}={{ photos.next_page_number }}"
                       class="btn btn-primary"
                       role="button">{% trans 'Next' %}  &gt&gt</a>
                {% endif %}
            </span>
        </div>
    </div>

{% endblock %}