{% extends 'base.html' %}

{% block head_title %}
    albums | {{ block.super }}
{% endblock head_title %}

<style>
    {% block style %}
        body {
            background-image: url('../static/img/background_image/yellow-Windows-background.jpg');
        }
    {% endblock %}

</style>

{% block content %}

    <div class="col-md-12">
        <a href="/album/create" class="btn btn-default" role="button">Create Album</a>

        <h1>{{ title }}</h1>
        <div class="row">
            <div class="pull-right">
                <form method="GET" action="">
                    <input type="text" name="q" placeholder="Search albums" value="{{ request.GET.q }}"/>
                    <input type="submit" value="Search"/>
                </form>
            </div>
        </div>
        <hr/>
        {% for obj_group in object_list_group %}
            <div class="row">
                {% for obj in obj_group %}
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            {% if obj.image %}
                                <a href="{{ obj.get_absolute_url }}"><img src='{{ obj.image.url }}'
                                                                          class="'img-responsive"/></a>
                            {% endif %}
                            <div class="caption">
                                {% if obj.draft %}<h5 style="color:red">Draft</h5> {% endif %}
                                <h4><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a></h4>
                                <h5>
                                    <small>Created: {{ obj.created_time }} ({{ obj.created_time | timesince }}
                                        ago)
                                    </small>
                                </h5>
                                <h5>
                                    <small>Updated: {{ obj.updated_time }} ({{ obj.updated_time | timesince }}
                                        ago)
                                    </small>
                                </h5>
                                {% if obj.author.get_full_name %}
                                    <p>Author: {{ obj.author.get_full_name }}</p>
                                {% endif %}
                                <hr/>
                                <p>{{ obj.description | linebreaks | truncatechars:60 }}</p>
                                <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary"
                                      role="button">View</a>
                                    {% if user_can_edit %}<a
                                            href="{{ obj.get_absolute_url_edit }}" class="btn btn-default"
                                            role="button">Edit</a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if object_list.has_previous %}
                    <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}
                    {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                </span>

                {% if object_list.has_next %}
                    <a href="?{{ page_request_var }}={{ object_list.next_page_number }}
                    {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
                {% endif %}
            </span>
        </div>

    </div>

{% endblock %}

