{% extends 'base.html' %}

{% load time_tags %}

{% load name_tags %}

{% block head_title %}
    albums | {{ block.super }}
{% endblock head_title %}

{% block content %}

    <div class="col-md-12">

        <h1>{{ title }}</h1>
        <div class="row">
            <div class="col-sm-2">
                <a href="/album/create" class="btn btn-default" role="button">Create Album</a>
            </div>
            <form method="GET" action="">
                <div class="col-sm-6 pull-right">
                    <div class="input-group">
                        <input class="form-control" type="text" name="q" placeholder="Search albums"
                               value="{{ request.GET.q }}"/>
                        <span class="input-group-btn">
                            {#<input class="btn btn-default" type="submit" value="Search"/>#}
                            <button class="btn btn-default" type="submit">Search <i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <hr/>
    </div>

    <div class="col-md-12">
        {% for album in albums %}
            {% if forloop.counter0 == 2 or forloop.counter0 == 5 or forloop.counter0 == 8 %}
                <div class="row">
            {% endif %}
                <div class="col-sm-4">
                    <div class="thumbnail">
                        {% if album.cover_photo_url %}
                            <a href="{{ album.get_absolute_url }}"><img src='{{ album.cover_photo_url }}'
                                                                      class="img-responsive"/></a>
                        {% endif %}
                        <div class="caption">
                            {% if album.draft %}<h5 style="color:red">Draft</h5> {% endif %}

                            <h3>
                                <p style="text-align:left;">
                                    <a href='{{ album.get_absolute_url }}'>{{ album.title }}</a>
                                    <span style="float:right;">

                                        {% if album.author %}
                                            <small>Author: {{ album.author | full_name_or_username }}</small>
                                        {% endif %}
                                    </span>
                                </p>
                            </h3>

                            <h4>
                                <small>Created: {{ album.created_time | timesince_threshold }}</small>
                            </h4>

                            <hr/>
                            <p>{{ album.description | linebreaks | truncatechars:60 }}</p>
                            <p><a href="{{ album.get_absolute_url }}" class="btn btn-primary"
                                  role="button">View</a>
                                {% if user_can_edit %}<a
                                        href="{{ album.get_absolute_url_edit }}" class="btn btn-default"
                                        role="button">Edit</a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            {% if forloop.counter0 == 2 or forloop.counter0 == 5 or forloop.counter0 == 8 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="col-md-12 text-center">
        <div class="pagination">
            <span class="step-links">
                {% if albums.has_previous %}
                    <a href="?{{ page_request_var }}={{ albums.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
                       class="btn btn-primary"
                       role="button">&lt&lt Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ albums.number }} of {{ albums.paginator.num_pages }}
                </span>

                {% if albums.has_next %}
                    <a href="?{{ page_request_var }}={{ albums.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
                       class="btn btn-primary"
                       role="button">&nbsp &nbsp Next &nbsp &nbsp&gt&gt</a>
                {% endif %}
            </span>
        </div>
    </div>


{% endblock %}

