{% extends 'base.html' %}

{% load i18n %}

{% load staticfiles %}

{% block head_title %} Homepage | {% endblock %}

<style>
    {% block style %}
        .navbar-static-top {
            margin-bottom: 0px !important;
        }

        .jumbotron {
            background-color: #da7627;
            color: #FFF;
        }
    {% endblock %}

</style>

{% block jumbotron %}

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>CCFam</h1>
                    <p>{% trans 'We are happy family' %}</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="/albums" role="button">{% trans 'Go to Album' %} &raquo;</a>
                    </p>
                </div>

                <div class="col-sm-6">
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/HbwhE-I9Kdc" frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <h1> {% trans 'Welcome' %}!</h1>
{% endblock %}