{% extends 'base.html' %}

{% block head_title %}
    {{ photo.title }} | {{ block.super }}
{% endblock head_title %}


{% block content %}
    <div class="container-fluid">

        <div class="text-center">
            <h4>{{ photo.title }}
                <a href="{{ photo.get_absolute_url_edit }}" class="btn btn-default"
                   role="button">Edit</a>
            </h4>
        </div>

        <div class="row">
            <div class="thumbnail">
                <a href="{{ photo.image.url }}"><img src="{{ photo.image.url }}" class="img-fluid"
                                                        alt="{{ photo.image_name }}"></a>
            </div>
            <!--previous image-->
            <p><a href="{{ photo.image.url }}" class="btn btn-default" role="button"> See original image</a>
            <!--next image-->
        </div>



        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-sm-2 col-xs-1">Item</th>
                <th>Information</th>

            </tr>
            </thead>

            <tbody>

            {% if photo.get_author_full_name_or_username %}
                <tr>
                    <th scope="row">Author</th>
                    <td>{{ photo.get_author_full_name_or_username }}</td>
                </tr>
            {% endif %}


            {% if photo.taken_time %}
            <tr>
                <th scope="row">Taken</th>
                <td>{{ photo.taken_time }}</td>
            </tr>
            {% endif %}

            {% if photo.address %}
            <tr>
                <th scope="row">Address</th>
                <td>{{ photo.address }}</td>
            </tr>
            {% endif %}

            {% if photo.description %}
            <tr>
                <th scope="row">Description</th>
                <td>{{ photo.description }}</td>
            </tr>
            {% endif %}

            {% if photo.image_name %}
            <tr>
                <th scope="row">Image</th>
                <td>{{ photo.image_name }}</td>
            </tr>
            {% endif %}

            {% if photo.album.title %}
            <tr>
                <th scope="row">Album</th>
                <td>{{ photo.album.title }}</td>
            </tr>
            {% endif %}
            {% if photo.created_time %}
            <tr>
                <th scope="row">Created</th>
                <td>{{ photo.created_time }}</td>
            </tr>
            {% endif %}

            {% if photo.updated_time%}
            <tr>
                <th scope="row">Updated</th>
                <td>{{ photo.updated_time }}</td>
            </tr>
            {% endif %}

            {% if photo.device_make %}
            <tr>
                <th scope="row">Device</th>
                <td>{{ photo.device_make }}</td>
            </tr>
            {% endif %}

            {% if photo.device_model %}
            <tr>
                <th scope="row">Model</th>
                <td>{{ photo.device_model }}</td>
            </tr>
            {% endif %}

            </tbody>
        </table>

    </div>

{% endblock %}