/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-image: none;
  background-color: #da7627;
  color: white;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  /*padding: 15px 15px 0;*/
}
.container .text-muted {
  /*margin: 15px 0;*/
  margin: 0px 0;
  color: white;
  text-align: center;
}

.footer > .container {
  /*padding-right: 15px;*/
  /*padding-left: 15px;*/
  padding-right: 0px;
  padding-left: 0px;
}

code {
  font-size: 80%;
}
