{% extends 'base.html' %}

{% block head_title %}
    albums | {{ block.super }}
{% endblock head_title %}

{% block content %}

    <div class="col-md-12">
        <a href="/album/create" class="btn btn-default" role="button">Create Album</a>

        <h1>{{ title }}</h1>
        <form method="GET" action="">
            <input type="text" name="q" placeholder="Search posts" value="{{ request.GET.q }}"/>
            <input type="submit" value="Search"/>
        </form>
        <hr/>
        {% for obj_group in object_list_group %}
            <div class="row">
                {% for obj in obj_group %}
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            {% if obj.image %}
                                <img src='{{ obj.image.url }}' class="'img-responsive"/>
                            {% endif %}
                            <div class="caption">
                                {% if obj.draft %}<h3 style="color:red">Draft</h3> {% endif %}
                                <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a>
                                    <small>{{ obj.updated_time }} ({{ obj.updated_time | timesince }} ago)</small>
                                </h3>
                                {% if obj.user.get_full_name %}
                                    <p>Author: {{ obj.user.get_full_name }}</p>
                                {% endif %}
                                <p>{{ obj.description | linebreaks | truncatechars:120 }}</p>
                                <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary"
                                      role="button">View</a>
                                    {% if user_can_edit %}<a
                                            href="{{ obj.get_absolute_url_edit }}" class="btn btn-default"
                                            role="button">Edit</a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}
            {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}
            {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
        </div>

    </div>

{% endblock %}

