{% extends 'base.html' %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
        {% if instance.image %}
            <img src='{{ instance.image.url }}' class="img-responsive img-thumbnail"/>
        {% endif %}
        <h1>{{ title }}
            {% if instance.draft %}
                <span style="color:red;">Draft</span>
            {% endif %}
            <small>{{ instance.updated_time }} ({{ instance.updated_time | timesince }} ago)</small>
        </h1>

        {% if instance.user %}
            <p>Author: {{ instance.user }}</p>
            print ("test")
        {% endif %}

        {% if instance.author.get_full_name %}
            <p>Author: {{ instance.author.get_full_name }}</p>
        {% endif %}

        {{ instance.description | linebreaks }}<br/>
        <br/>
    </div>
{% endblock %}